html{
    box-sizing: border-box;
} 

body{
    align-items: center;
    margin: auto auto;
    padding: auto auto;
    min-height: 200vh;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background: dodgerblue;
}

h1{
    padding-top: 5px;
    font-size: 3rem;
    margin: 5px 5px;
}

#main-div-1 {
    display: inline-block;
    margin: 5px 10px;
    border-radius: 20px;
    background-color: lightsteelblue;
    width: 450px;
    height: 650px;
    border-style: solid;
    border-color: lightblue;
    border-width: 5px;
}

#main-div-2 {
    display: space-between;
    margin: 5px auto;
    padding: 5px 5px;
    background-color: lightsteelblue;
    width: 400px;
    height: 40px;
    text-align: center;
    font-size: 1.0rem;
}

#linkedin, #instagram, #github {
    display: inline;
    width: 10px;
    height: 10px;
    margin: 5px 5px;
    padding: 5px 5px;
    font-size: 1.2rem;
}

.small-square{
    border-style: solid;
    border-color: lightblue;
    text-align: center;
    width: 80px;
    height: 80px;
    background: rgba(237, 237, 237, 0.933);
    color: rgba(237, 237, 237, 0.933);
    display: inline-block;
    padding: 10px;
    margin: 5px;
    font-size: 4rem;
    cursor: pointer;
    border-radius: 25px;
}

.restart, .set{
    margin-top: 10px;
    border-radius: 35px;
    border-color: white;
    height: 40px;
    width: 190px;
    cursor: pointer;
    font-size: 1.5rem;
    background: lightgreen;
}

#id-score, #id-player, #id-winner{
    display: inline-block;
    width: 385px;
    margin-top: 10px;
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
    border-color: white;
}

.score, .playertime, .winner, .restart, .set{
    font-size: 1.5rem;
    color: rgba(237, 237, 237, 0.933);
    font-weight: bold;
    /* box-shadow:rgba(237, 237, 237, 0.233); */
}

#x-score5, #x-score4, #x-score3, #x-score2, #x-score1,
#o-score1, #o-score2, #o-score3, #o-score4, #o-score5{
    width: 13px;
    height: 13px;
    background: white;
    border-radius:7px;
    display: inline-block;
}

/* media */
@media screen and (max-width: 550px){ 
    h1{
        font-size: 2rem;
    }

    #main-div-1 {
        margin: 5px 10px;
        display: inline-block;
        border-radius: 20px;
        background-color: lightsteelblue;
        width: 350px;
        height: 490px;
        border-style: solid;
        border-color: lightblue;
        border-width: 5px;
    }
    #main-div-2 {
        display: space-between;
        margin: 5px auto;
        padding: 5px 5px;
        background-color: lightsteelblue;
        width: 300px;
        height: 20px;
        text-align: center;
    }
    #linkedin, #instagram, #github {
        width: 10px;
        height: 10px;
        margin: 5px 5px;
        padding: 5px 5px;
        font-size: 0.8rem;
    }
    .small-square {
        font-size: 3rem;
        width: 50px;
        height: 50px;
        border-radius: 25px;
    }
    #id-score, #id-player, #id-winner{
        display: inline-block;
        width: 260px;
        margin-top: 5px;
        border-style: solid;
        border-width: 1px;
        border-radius: 10px;
        border-color: white;
    }
    .score, .playertime, .winner, .restart, .set{
        font-size: 1.2rem;
        color: rgba(237, 237, 237, 0.933);
        font-weight: bold;
        box-shadow:rgba(237, 237, 237, 0.233);
    }
    .restart, .set{
        margin-top: 15px;
        border-radius: 15px;
        border-color: white;
        height: 40px;
        width: 140px;
        cursor: pointer;
        font-size: 1.2rem;
        background: lightgreen;
    }
}